@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.strokeme {
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.box {
	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;
	height: 100vh;
}
.one {
width:50%;
}
.two {
	border-color: black;
}