@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.strokeme {
  color: white;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.box {
	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;
	height: 100vh;
}
.one {
width:50%;
}
.two {
	border-color: black;
}
.image {
	border-radius: 40px;
}
.header {
	background-color: #242424;
	width: 100%;
	height: 10%;
	padding: 30px;
	display:inline-block;
}
body, html {    
    margin: 0 !important;
    padding: 0 !important;
}